.App {
  text-align: center;
  background-color: #f4f4f4;
  color: #333333;
}

.App-link {
  color: #61dafb;
}

.hrclass {
  background-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
